.customers{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.customers-titel-main {
    font-size: 36px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding: 92px 0 90px 0;

}

.customers-subtitel {
    font-size: 18px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #86878b;
    margin-bottom: 83px;
   
}


.Managers{
    font-size: 18px;
  font-weight: 400;
  color: #86878b;
  display: flex;
  flex-direction: column;
}
.commentallgemein{
    display: flex;
    justify-content: space-between;
  } 

.managercomment{
    display: flex;
  align-items: center;
  max-width: 370px;
  width: 100%;
  height: 180px;
  background-color: #e2e2e2;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 15px;
  position: relative;
  margin-bottom: 66px;

}
.allmanagers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;

}
.every-manager-item {
    display: flex;
  max-width: 370px;
  width: 100%;
}
.manager__ber{

    margin-left: 30px;
    position: relative;
}
.manager-img{
    max-width: 70px;   
}
.manager-name{
    font-size: 14px;
    font-weight: 500;
    font-family: "Open-Sans", sans-serif;
    color: #000;
    padding-top: 10px;
}

.manager-subname{
    position: absolute;
    font-size: 18px;
  
    color: #2b0808;

}


